<!-- <p>strategist-tabs works!</p> -->

<body class="login-bg">
  <img class="bg_img" src="../../../assets/img/D2.jpg" alt="">


  <app-header></app-header>

  <!-- <div (click)="goBack()" class="button back-btn">
   Go Back</div> -->

  <div class="container">
      <div class="row">
          <div class="col-lg-12 buttons">

            <button [routerLink]="['/revised-price']" routerLinkActive="router-link-active" class="button-91" role="button">Review and Revise Price</button>
            <button [routerLink]="['/strategy']" routerLinkActive="router-link-active" class="button-91" role="button">Strategy</button>
            <!-- old design -->
            <!-- <div [routerLink]="['/revised-price']" routerLinkActive="router-link-active"  class="flex">
              <a class="bttn">Review And Revise Price</a>
            </div>

            <div class="flex" [routerLink]="['/strategy']" routerLinkActive="router-link-active" >
              <a  class="bttn">Define Strategy</a>
            </div> -->
          </div>

      </div>
  </div>

</body>
