
<h2 mat-dialog-title *ngIf="data?.title">{{ data.title }} </h2>
<div class="d-flex justify-content-center align-items-cente text-center flex-column">
  <div mat-dialog-content>
    <p class="mt-1">{{ data.product_description }}</p>
    <p class="mt-1">{{ data.cut }}</p>
    <p class="mt-1">{{ data.carat }}</p>
    <p class="mt-1">{{ data.strategy_name }}</p>
    <p class="mt-1">{{ data.strategy_name }}</p>
  </div>
  <div class="flex align-items-center actionBtns w-100">
    <button *ngIf="data?.buttonTextYes" (click)="onYesClick()" class="yesBtn btn">Close</button>
  </div>
</div>
