@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  // justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.bg_img {
  // content: ""; /* Required to generate a pseudo-element */
  position: absolute; /* Absolute positioning for overlay effect */
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  // background-image: url(../../../assets/img/Login-Page.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  z-index: -1; /* Ensure it's behind any content */
}

.login-bg {
    position: relative;
    background-color: #000000;
    overflow: hidden;
}

.login-bg::before {
  content: ""; /* Required to generate a pseudo-element */
  position: absolute; /* Absolute positioning for overlay effect */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img/D2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure it's behind any content */
}

.wrapper {
  width: 311px;
  border-radius: 0px;
  padding: 30px 15px 14px 15px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  padding: 0px 12px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  font-weight: 300;
  left: 9px;
  transform: translateY(-50%);
  color: #acacac;
  font-size: 14px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 10px;
  top: 2px;
  transform: translateY(-120%);
}

.transform_label{
  font-size: 10px !important;
  top: 2px !important;
  transform: translateY(-120%) !important;
}

.forget {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  margin: 10px 0 -1px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  font-weight: 300;
  text-decoration: none;
  font-size: 13px;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  align-self: center;
  width: fit-content;
  background: #fff;
  color: #000954;
  font-weight: 500;
  font-weight: 900;
  border: none;
  padding: 0px 15px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

header{
  position: absolute;
  top: 20px;
  left: 52px;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  appearance: none !important;
  background-color: transparent !important;
  background-image: none !important;
  color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

.err_m{
  background: white;
  border-radius: 2px;
  color: red;
  font-size: 11px;
  width: auto;
}

.wrongCred {
  margin-top: 7px;
  border: 1px solid #ff8888 !important;
  padding: 0px 8px;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
}

span.error_text {
  font-size: 12px;
  color: #ff9191;
  margin-bottom: 4px;
}

.user_icon {
  transform: translateX(-50%);
  position: absolute;
  top: -60px;
  left: 50%;
  /* width: 100px; */
  /* height: 100px; */
  /* object-fit: contain; */

  img{
    width: 105px;
    height: 105px;
    object-fit: contain;
  }
}

.box{
  margin: 0 auto;
  width: 75%;
}

.head_width {
  width: 310px !important;
  display: flex;
  justify-content: center;
  margin: 51px 0px;
}

.head_width {
  width: 312px !important;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}

.is-invalid {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 12px;
}
