<body>
  <img class="bg_img" src="../../../assets/img/Login-Page.jpg" alt="">
  <header>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <div class="logo">
                  <a [routerLink]="['/']" routerLinkActive="router-link-active"   routerLinkActive="router-link-active" >
                    <img src="../../assets/img/hk-logo.svg" alt="">
                  </a>
                </div>
            </div>
        </div>
    </div>
</header>

  <div class="box">
    <h2 *ngIf="!showChangeFirstTimePassword" class="head_width">{{forgorPassword ? 'FORGOT PASSWORD' : 'LOG IN' }}</h2>
    <h2 *ngIf="showChangeFirstTimePassword" class="head_width">{{'CHANGE PASSWORD' }}</h2>

    <div class="wrapper container">
      <div class="user_icon">
        <img src="../../../assets/img/user-icon.png" alt="">
      </div>
      <ng-container *ngIf="!showChangeFirstTimePassword">
        <ng-container *ngIf="!forgorPassword">
          <form>
            <!-- <span *ngIf="wrongCred" class="err_m">*Please enter correct credentials</span> -->
            <div class="input-field"  [ngClass]="{'wrongCred' : wrongCred || wrongEmail}">
              <input  (input)="removeWhitespace(username)" #username type="text" required autocomplete="new-password">
              <label>Enter your email</label>
            </div>
            <div class="input-field" [ngClass]="{'wrongCred' : wrongCred}">
              <input  (input)="removeWhitespace(password)" #password type="password" required autocomplete="new-password">
              <label>Enter your password</label>
            </div>
            <button type="submit" class="mt-2" (click)="login(username.value, password.value)">Log In</button>
            <div class="forget">
              <a (click)="onForgotPassword()">Forgot password?</a>
            </div>
          </form>
        </ng-container>

        <ng-container *ngIf="forgorPassword">
          <form #emailForm="ngForm" (ngSubmit)="onSendResentLink(emailForm)" novalidate>
            <div class="input-field" [ngClass]="{ 'is-invalid': email.invalid && email.touched || incorrectEmail }">
              <input
                type="email"
                required
                autocomplete="new-password"
                name="email"
                ngModel
                #email="ngModel"
              />
              <label [class.transform_label]="email.value">Enter your email</label>
              <!-- Error messages -->
              <div class="d-flex" *ngIf="email.invalid && email.touched">
                <small class="error" *ngIf="email.errors?.['required'] && !incorrectEmail">Please enter a correct email.</small>
                <small class="error" *ngIf="email.errors?.['email']  && !incorrectEmail">Invalid email format.</small>
              </div>
              <div class="d-flex">
                <small class="error" *ngIf="incorrectEmail">Please enter a valid email.</small>
              </div>
            </div>
            <button type="submit">Send Mail</button>
          </form>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="showChangeFirstTimePassword">
        <form>
          <!-- <span *ngIf="wrongCred" class="err_m">*Please enter correct credentials</span> -->
          <h2>Change Password</h2>
          <div class="input-field" [ngClass]="{'wrongCred' : wrongCred}">
            <input (ngModelChange)="currentPassword = removeWhitespaceToChange(currentPassword)"
                   pattern="\\S+"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="currentPassword"
                   #current_password type="password"
                   required autocomplete="new-password">
            <label  [class.transform_label]="currentPassword">Enter your old password</label>
          </div>

          <div class="input-field" [ngClass]="{'wrongCred' : wrongCred}">
            <input (ngModelChange)="newPassword = removeWhitespaceToChange(newPassword)"
                   pattern="\\S+"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="newPassword"
                   #new_password type="password"
                   required autocomplete="new-password">
            <label  [class.transform_label]="newPassword">Enter your new password</label>
          </div>

          <div class="input-field">
            <input (ngModelChange)="confirmPassword = removeWhitespaceToChange(confirmPassword)"
                   pattern="\\S+"
                   [(ngModel)]="confirmPassword"
                   [ngModelOptions]="{standalone: true}"
                   [ngClass]="{'wrongCred' : wrongCred}"
                   #re_password type="password"
                   required autocomplete="new-password">
            <label  [class.transform_label]="confirmPassword">Re-enter your new password</label>
          </div>
          <span class="error_text" *ngIf="error !== ''">{{error}}</span>
          <button type="submit" (click)="updatePassword()">Update Password</button>
        </form>
      </ng-container>
    </div>
  </div>
</body>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#7bd3f7" type="fire" [fullScreen]="true">
  <p style="color: white"> loading... </p>
</ngx-spinner>
