<div class="container-fluid p-0">
  <header class="d-flex flex-wrap justify-content-center py-2 p-3 border-bottom align-items-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="../../../assets/img/hk-logo-black.svg">
    </a>
    <div class="d-flex align-items-">
      <div class="flex-shrink-0 dropdown">
        <a href="javascipt:void(0)" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/img/user-icon.png" alt="mdo" width="32" height="32" class="rounded-circle user">
        </a>
        <ul class="dropdown-menu text-small shadow"
          style="/* position: absolute; *//* inset: 0px auto auto 0px; *//* margin: 0px; *//* transform: translate3d(-98px, 34px, 0px); */">
          <li><a class="dropdown-item" [routerLink]="['/profile']">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
      <div (click)="goBack()" class="button back-btn"><span class="material-symbols-outlined">
        undo
        </span>Back
      </div>
    </div>
  </header>
</div>
