
<body>
  <header>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <div class="logo">
                  <a [routerLink]="['/']" routerLinkActive="router-link-active"   routerLinkActive="router-link-active" >
                    <img src="../../assets/img/hk-logo.svg" alt="">
                  </a>
                </div>
            </div>
        </div>
    </div>
</header>
  <div class="wrapper">
    <ng-container *ngIf="!forgorPassword">
      <form action="#">
        <h2>Login</h2>
        <div class="input-field">
          <input type="text" required autocomplete="new-password">
          <label>Enter your email</label>
        </div>
        <div class="input-field">
          <input type="password" required autocomplete="new-password">
          <label>Enter your password</label>
        </div>
        <div class="forget">
          <!-- <label for="remember">
            <input type="checkbox" id="remember">
            <p>Remember me</p>
          </label> -->
          <a (click)="onForgotPassword()">Forgot password?</a>
        </div>
        <button type="submit">Log In</button>
      </form>
    </ng-container>

    <ng-container *ngIf="forgorPassword">
      <form >
        <h2>Forgot Password</h2>
        <div class="input-field">
          <input type="text" required autocomplete="new-password">
          <label>Enter your email</label>
        </div>
        <!-- <div class="input-field">
          <input type="password" required autocomplete="new-password">
          <label>Enter your password</label>
        </div> -->

        <button (click)="onPasswordSent()">Forgot Password</button>
      </form>
    </ng-container>

  </div>
</body>

