<div class="page container defaultView" *ngIf="defaultView">
  <p>Click on this button to view the price list</p>
  <button (click)="defaultView = false" class="button-87">View all Price List</button>

</div>

<div class="page container priceView abc" *ngIf="!defaultView">
  <div class="page-heading mb-2 mt-2">
    <h2 class="page_head page-title container m-auto px-0">
      <div class="d-flex align-center">
        <span class="material-symbols-outlined view_list">
        view_list
      </span>Price Tracker
    </div>
    </h2>
    </div>
  <div class="filters d-flex row mb-3">
    <div class="column col-md-2">
      <div class="head">Filters:</div>
      <div class="filter"></div>
    </div>

    <div class="column col">
      <div class="head">Item ID</div>
      <div class="filter">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [(ngModel)]="searchValue"
             placeholder="Search keyword" />
        </span>
      </div>
    </div>

    <div class="column col">
      <div class="head">Product Category</div>
      <div class="filter">
        <p-dropdown
        [options]="productCategories"
        [(ngModel)]="selectedProductCategory"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select Produt Category">
        <ng-template pTemplate="selectedItem" let-selectedProductCategory>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedProductCategory.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      </div>
    </div>

    <div class="column col">
      <div class="head">Other Product type</div>
      <div class="filter">
        <p-dropdown
        [options]="productTypes"
        [(ngModel)]="selectedProductType"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select Produt Category">
        <ng-template pTemplate="selectedItem" let-selectedProductType>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedProductType.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      </div>
    </div>
  </div>

  <div class="card_shadow">
    <h4>Price List of Diamond Item</h4>
    <p-toast />
    <p-table [value]="products" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows"
      (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
      <!-- <ng-template pTemplate="caption">
            <div class="flex flex-wrap justify-content-end gap-2">
                <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
                <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
            </div>
        </ng-template> -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th>S.No</th>
          <th>Product ID </th>
          <th>Description</th>
          <th>Original Price </th>
          <th>Current Price </th>
          <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating" /></th> -->
          <th>Last Modified </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-expanded="expanded" let-i="rowIndex">
        <tr>

          <td>
            <p-button class="expand_btn" *ngIf="product?.orders?.length" type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true" [plain]="true"
              [icon]="expanded ? 'pi pi-minus' : 'pi pi-plus'" />
          </td>
          <td>{{ i + 1 }}</td>
          <td>{{ product.id }}</td>
          <td>{{product.description}}</td>
          <td>{{product.original_price}}</td>
          <td>{{product.current_price}}</td>
          <td>{{product.last_modified}}</td>
          <td><button (click)="onCllickViewStrategy()" class="view_btn d-flex"><i class="pi pi-eye" style="font-size: 1rem"></i> View</button>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-product>
        <tr>
          <td colspan="7" style="margin-left: 118px !important;  ">
            <div class="sub_table p-3">
              <p-table [value]="product.orders" dataKey="id">
                <ng-template pTemplate="header">
        <tr>
          <th>Original Price </th>
          <th>Modified Price </th>
          <th>Price Modified Date </th>
          <!-- <th style="width: 4rem"></th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.original_price }}</td>
          <td>{{ order.modified_price }}</td>
          <td>{{ order.modified_date }}</td>
          <!-- <td><p-button type="button" icon="pi pi-search" /></td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">There are no order for this product yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>
</div>
</div>
