.login-bg {
  position: relative;
  background-color: #00000026;
  overflow: hidden;
  height: 100vh;
}

.login-bg::before {
  content: "";
  /* Required to generate a pseudo-element */
  position: absolute;
  /* Absolute positioning for overlay effect */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url(../bright-diamonds-arrangement-high-angle.jpg);
  background-image: url(../../assets/img/D2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  /* Adjust the opacity as needed */
  z-index: -1;
  /* Ensure it's behind any content */
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: #906d7e;
  font-weight: bold;
}

.logo img {
  margin-right: 6px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.contact a {
  color: #906d7e;
}

.contact i {
  border-radius: 50%;
  background-color: rgb(245, 249, 250);
  width: 54px;
  height: 54px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
}

.contact span {
  color: white;
  padding-right: 10px;
}

.contact_detail {
  margin-right: 30px;
  margin-left: 25px;
}

.trim-select {
  width: 21%;
  height: 35px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  position: relative;
  transition: 1s ease-in-out;
  margin-bottom: 16px;
  background: rgba(0, 0, 0, 0.2823529412);
  transform: translateX(0);
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  padding: 21px;
}

.trim-select:hover {
  background: #00000078;
  border: 1px solid #1d1d1d6e;
}

.trim-select:hover label {
  color: #906d7e;
}

.trim-select:hover .icon-box {
  background-color: #906d7e;
}

.trim-select label {
  font-size: 16px;
  color: white;
  font-weight: 500;
  flex-basis: 65%;
  pointer-events: none;
}

.icon-box {
  width: 35px;
  height: 35px;
  background-color: #404040;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box svg {
  width: 35px;
  height: 35px;
}

.type-of-login {
  font-size: 45px;
  color: white;
  margin-bottom: 40px;
  line-height: 1.3;
  text-align: center;
  margin-top: 35px;
}

.type-of-login h4 {
  font-size: 32px;
  color: white;
  font-weight: 700;
}

.range-box {
  margin-bottom: 10px;
}

a {
  text-decoration: none;

}

@keyframes type {
  from {
      width: 0;
  }

  to {
      width: 100%;
  }
}

@keyframes blink {
  0% {
      border-color: transparent;
  }

  100% {
      border-color: black;
  }
}

.type-of-login h1 {
  font-size: 50px;
  /* font-family: cursive; */
  /* Typewriter-style font */
  overflow: hidden;
  /* Hides the overflowing text */
  white-space: nowrap;
  /* Prevents wrapping */
  // border-right: .15em solid black;
  /* Cursor effect */
  /* animation:
      type 4s steps(40, end),
      blink 0.75s step-end infinite; */
}

h3 {
  font-size: 19px !important;
}

.icons{
  width: 25px;
  height: 25px;

}

.row{
  display: flex;
  justify-content: center;
}




.col-md-2.px-md-4.position-relative {
  padding-right: 4px !important;
  padding-left: 4px !important;
}
