<div class="container">

  <div class="d-flex">
    <p class="mb-0 pb-0 pt-2 col-md-6">Please review the changes that you have made:</p>
  </div>

  <table>
    <thead>
      <tr>
        <!-- <th *ngIf="selectedOption == 'Item Category'">Category</th> -->
        <th>Product Id</th>
        <th >Description</th>
        <th >Carat</th>
        <th >Color</th>
        <th >Clarity</th>
        <th >Cut</th>
        <th >Original Price</th>
        <th >Revised Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.filteredData">
        <td>{{ item.id }}</td>
        <td>{{ item.desc }}</td>
        <td>{{ item.value1 }}</td>
        <td>{{ item.value2 }}</td>
        <td>{{ item.clarity }}</td>
        <td>{{ item.quality }}</td>
        <td>{{ item.price1 | currency }}</td>
        <td>{{ item.price2 | currency }}</td>
      </tr>
    </tbody>
  </table>

  <div class="buttons mb-2"><button class="btn save" (click)="onYesClick()">Save</button><button (click)="onNoClick()" class="btn cancel">Cancel</button></div>

</div>
