<div class="container">

  <div class="d-flex">
    <p class="mb-0 pb-0 pt-2 col-md-6">Please review the changes that you have made:</p>

  </div>

  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Cost Price</th>
        <th>Revised Cost Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.filteredData">
        <td><strong>{{item?.id}}</strong></td>
        <td>{{item.originalPrice2}}</td>
        <td>{{item.price2}}</td>
      </tr>
    </tbody>
  </table>

  <div class="buttons mb-2"><button class="btn save" (click)="onYesClick()">Okay</button><button (click)="onNoClick()" class="btn cancel">Cancel</button></div>

</div>
